<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Document</title>
</head>

<body>
  <p th:text="'Chào bạn 👋 ' + ${username} + '!'"></p>
  <p
    th:text="'Chào mừng bạn đến với Clockee, vui lòng nhấp vào liên kết dưới đây để chúng tôi có thể xác minh email của bạn.'">
  </p>
  <a th:href="@{${verificationLink}}">Xác minh Email</a>
</body>

</html>
